/* line 11, C:/Users/User/GitHub/fidals-site/src/scss/common/mixins/_placeholders.scss */
.sidebar-tags,
.sidebar-article {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #D2D6D5;
  padding: 20px 20px 10px; }

/* line 23, C:/Users/User/GitHub/fidals-site/src/scss/common/mixins/_placeholders.scss */
.blog-item-link {
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  /* line 28, C:/Users/User/GitHub/fidals-site/src/scss/common/mixins/_placeholders.scss */
  .blog-item-link:hover {
    border-color: #3C948B;
    color: #333333;
    text-decoration: none; }

/* line 15, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
[id^="ymaps"] {
  min-height: 400px; }

/* line 19, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
.blogs-wrapper {
  text-align: justify; }

/* line 24, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
.blog-item {
  border-bottom: 1px solid #D2D6D5;
  margin-bottom: 45px;
  padding-bottom: 45px; }
  /* line 29, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
  .blog-item-link {
    display: inline-block;
    color: #333333;
    font-size: 24px;
    margin-bottom: 20px; }
  /* line 37, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
  .blog-item-text {
    line-height: 170%;
    margin-bottom: 20px; }
  /* line 43, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
  .blog-item-date,
  .blog-item-comments {
    margin-right: 10px;
    padding: 0 5px; }
  /* line 48, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
  .blog-item-btn-more {
    float: right; }

@media (max-width: 800px) {
  /* line 54, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
  .blog-item-btn-more {
    display: block;
    float: none;
    margin: 25px auto 0;
    max-width: 200px; } }

/* line 65, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
.sidebar-tags,
.sidebar-article {
  margin: 0 0 20px; }
  /* line 69, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
  .sidebar-tags:hover,
  .sidebar-article:hover {
    border-color: #3C948B; }
  /* line 73, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
  .sidebar-tags-title,
  .sidebar-article-title {
    margin-top: 0; }

@media only screen and (min-width: 768px) {
  /* line 80, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
  .sidebar-tags,
  .sidebar-article {
    margin: 0 auto 40px; } }

/* line 87, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
.blog-inner-title {
  margin-bottom: 25px; }

/* line 91, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
.blog-inner-subtitle {
  font-weight: bold;
  margin: 35px 0 20px; }

/* line 96, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
.blog-inner-tags {
  margin: 20px 0; }

/* line 100, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
.blog-inner-tags-item {
  display: inline-block; }

/* line 104, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
.blog-inner .img-responsive {
  margin-bottom: 20px; }

/* line 109, C:/Users/User/GitHub/fidals-site/src/scss/pages/blog.scss */
.share-widget {
  margin: 20px auto; }

/*# sourceMappingURL=blog.css.map */