extends ../layouts/blog-list

// В этом документе данные для списка блогов

block vars
	- var title = "Фидалс | Блог";
	- var selectedLink = 'Блог';
	-
		var previewItems = {
			se_project: {
				alias: '/blog/se-project.html',
				title: 'Проект shopelectro',
				text: "Многие думают, что реализовать интернет-магазин - это развернуть вёрстку на Битриксе за пару \
				дней. Если магазин простой и ваш клиент знает чего хочет, так и есть.\
				Но так бывает не каждый день.\
				Наша задача - создать прибыльный магазин элементов питания. Для этого мы залезем в бизнес и займёмся аналитикой.\
				А магазин построим на легковесном решении, чтобы оперативно делать правки и функционал любой сложности.",
				date: '17.02.2016'
			},

			stb_project: {
				alias: '/blog/stb-project.html',
				title: 'Проект stroyprombeton',
				text: "Многие думают, что реализовать интернет-магазин - это развернуть вёрстку на Битриксе за пару \
				дней. Если магазин простой и ваш клиент знает чего хочет, так и есть.\
				Но так бывает не каждый день.\
				Наша задача - создать прибыльный магазин элементов питания. Для этого мы залезем в бизнес и займёмся аналитикой.\
				А магазин построим на легковесном решении, чтобы оперативно делать правки и функционал любой сложности.",
				date: '17.02.2016'
			}
		}
