extends ./layouts/base

block content
  .container
    .text-title-wrapper
      h1.title-main.text-title.text-center Команда Фидалс

    .skills-section
      .row
        .col-sm-4
          .skills-item
            img(class="img-responsive", src="/images/main-page/1.jpg")
            h3.skills-item-title Разрабатываем ТЗ
            ul.skills-list.list-unstyled
              li.skills-list-item Собираем информацию у клиента
              li.skills-list-item Предлагаем решение
              li.skills-list-item Описываем его для программистов
              li.skills-list-item Подойдёт для любых исполнителей
        .col-sm-4
          .skills-item
            img(class="img-responsive", src="/images/main-page/2.jpg")
            h3.skills-item-title Разрабатываем веб-приложения
            ul.skills-list.list-unstyled
              li.skills-list-item Сервисы, приложения, сайты
              li.skills-list-item Опыт с python, js
              li.skills-list-item Опыт в нагруженных интернет-магазинах
              li.skills-list-item Есть контроль качества
        .col-sm-4
          .skills-item
            img(class="img-responsive", src="/images/main-page/3.jpg")
            h3.skills-item-title Создаём бизнес-процессы
            ul.skills-list.list-unstyled
              li.skills-list-item Часто нужна смена процесса, а не ПО
              li.skills-list-item Изучаем бизнес клиента
              li.skills-list-item Создаём новый процесс для бизнеса
              li.skills-list-item Внедряем новые процессы в бизнес

    .speech-section
      .row
        .col-sm-6.col-md-4.col-lg-6
          .speech-item.clearfix
            .speech-img-wrapper
              img(class="img-responsive" src="/images/main-page/4.jpg")

            h3.speech-item-title Программистам - вакансия
            p.speech-text
              | У нас (да и не только) хронический дефицит программистов. Занимаемся вебом, пишем на php+js+фреймворки. Если ищешь команду на фуллтайм, с радостью познакомимся и обсудим условия работы у нас.

        .col-sm-6.col-md-4.col-lg-6
          .speech-item.clearfix
            .speech-img-wrapper
              img(class="img-responsive" src="/images/main-page/5.jpg")

            h3.speech-item-title Малому бизнесу
            p.speech-text
              | Мы решаем проблемы с приложениями, сайтами, бизнес-процессами и маркетингом. В России у 95% малых бизнесов полный провал по этим пунктам. С нами вы можете сосредоточиться на специфике бизнеса.

        .col-sm-6.col-md-4.col-lg-6
          .speech-item.clearfix
            .speech-img-wrapper
              img(class="img-responsive" src="/images/main-page/6.jpg")

            h3.speech-item-title Коллегам - студии, dev-teams
            p.speech-text
              | Разработка - наше самое сильное место. Вы берёте на себя работу с клиентом и проектирование, мы - разработку.
              | Умеем работать через трекеры, контроль версий и code-review.

        .col-sm-6.col-md-4.col-lg-6
          .speech-item.clearfix
            .speech-img-wrapper
              img(class="img-responsive" src="/images/main-page/7.jpg")

            h3.speech-item-title Стартапам
            p.speech-text
              | Сейчас стартапы часто связаны с технологичным проектами. У нас есть опыт в таких. Мы уже создали пару нагруженных сайтов с небольшими веб-приложениями внутри.
              | По проектированию и технологиям нас консультируют пара инсайдеров крупных IT-компаний (аутсорс, продуктовые).

        .col-sm-6.col-md-4.col-lg-6
          .speech-item.clearfix
            .speech-img-wrapper
              img(class="img-responsive" src="/images/main-page/8.jpg")

            h3.speech-item-title Инвесторам
            p.speech-text
              | У нас есть бизнес-модели пары недорогих сервисов. Мы можем их реализовать: команда, опыт в бизнесе, в разработке, консультанты по технологиям и запуску продуктов.
              | Если вас интересуют вложения - пишите, мы обсудим условия.

        .col-sm-6.col-md-4.col-lg-6
          .speech-item.clearfix
            .speech-img-wrapper
              img(class="img-responsive" src="/images/main-page/9.jpg")

            h3.speech-item-title Поддержка - готовым проектам
            p.speech-text
              | Если вашему проекту/приложению не нужны серьёзные улучшения, а нужны небольшие правки в любой момент, возьмём его на поддержку по цене 1500-3000 руб/час специалиста.

    .prices-section
      .text-title-wrapper
        h2.prices-title.text-title.text-center Цены
        h4.prices-subtitle.text-center откуда берутся и как мы их считаем
      .row
        .col-md-6.clearfix
          .prices-item
            .prices-img-wrapper
              img(class="img-responsive" src="/images/main-page/10.png")
            h3.prices-item-title Почасовая оплата
            p.prices-item-text
              | Все наши цены так или иначе упираются в часы работы, что мы затратим на проект. Стоимость зависит от сложности проекта. И сложности клиента, конечно.
        .col-md-6.clearfix
          .prices-item
            .prices-img-wrapper
              img(class="img-responsive" src="/images/main-page/11.png")
            h3.prices-item-title Работа с клиентом
            p.prices-item-text
              | От 30% до 80% стоимости (работы) проекта уходит на попытки понять что же нужно клиенту. Если вы хорошо представляете что вам нужно и примерно знаете о порядке цен на работу в ИТ, этот этап пройдёт для вас быстро и дешёво. Тогда проект обойдётся вам дешевле на 30-80%.
        .col-md-6.clearfix
          .prices-item
            .prices-img-wrapper
              img(class="img-responsive" src="/images/main-page/12.png")
            h3.prices-item-title Риски
            p.prices-item-text
              | Риски бывают со стороны бизнеса и со стороны разработки. Суть всех рисков от бизнеса: созданный функционал не приносит денег. У разработки риски технические - в какой-то момент может оказаться, что запланированный функционал реализовать невозможно (т.е. слишком дорого). Перед разработкой проекта мы снижаем и те и другие.
        .col-md-6.clearfix
          .prices-item
            .prices-img-wrapper
              img(class="img-responsive" src="/images/main-page/13.png")
            h3.prices-item-title Порядок оплаты
            p.prices-item-text
              | Не все выполняют условия оплаты добросовестно. Поэтому, при первом знакомстве, мы работаем по предоплате 50%. Всю работу мы разбиваем на этапы объёмом не более одной рабочей недели. Обычно спустя месяц мы знакомимся ближе и работаем на более свободных условиях оплаты.

    .portfolio-section
      .text-title-wrapper
        h2.portfolio-title.text-title.text-center Проекты

      .row
        .col-sm-6.col-md-4
          .portfolio-item
            .portfolio-img-wrapper
              img(class="img-responsive" src="/images/main-page/projects/stroyprombeton.png")
            h4.portfolio-item-title <a href='http://www.stroyprombeton.ru/' target='_nofollow'>Завод ЖБИ</a> - магазин строй-изделий
            ul.portfolio-list.list-unstyled
              li.portfolio-list-item Перенесли: modx -> symfony2
              li.portfolio-list-item Улучшили поиск
              li.portfolio-list-item Динамическая корзина
              li.portfolio-list-item Карта РФ с объектами
              li.portfolio-list-item Подняли уровень качества
              li.portfolio-list-item Поддержка

        .col-sm-6.col-md-4
          .portfolio-item
            .portfolio-img-wrapper
              img(class="img-responsive" src="/images/main-page/projects/shopelectro.png")
            h4.portfolio-item-title <a href='https://www.shopelectro.ru/' target='_nofollow'>Магазин</a> элементов питания
            ul.portfolio-list.list-unstyled
              li.portfolio-list-item Разработали сайт
              li.portfolio-list-item Связали базу товаров сайта с 1С (интеграция)
              li.portfolio-list-item Прайс-лист для оптовиков excel-формата
              li.portfolio-list-item Эффективность магазина
              li.portfolio-list-item Подняли уровень качества
              li.portfolio-list-item Поддержка


        .col-sm-6.col-md-4
          .portfolio-item.portfolio-item-last
            .portfolio-img-wrapper
              img(class="img-responsive" src="/images/main-page/projects/stk-metal.png")
            h4.portfolio-item-title <a href='http://www.stk-metal.ru/' target='_nofollow'>Завод МК</a> - магазин металлоизделий
            ul.portfolio-list.list-unstyled
              li.portfolio-list-item Разработали сайт
              li.portfolio-list-item Стандартный функционал магазина
