// Внутренняя страница блога
extends ./base

block vars
  - var bodyClass = "blog-inner";
  - var selectedLink = 'Блоги';
  - var date = '25.01.2016';

block append styles
  link(rel="stylesheet", href="/css/pages.min.css")

block content
  .container
    .row
      .col-lg-8
        .blogs-wrapper
          .blog-item
            block blog-content

          p.blog-item-data.clearfix
            i(class="fa fa-calendar-check-o")
            span.blog-item-date= date
